*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: arial;
	font-size: 16px;
	margin: 0;
    background: linear-gradient(133deg, #4abeb2, #3c57d2); */
	background: #121FCF;
	background: linear-gradient(to bottom right, #121FCF 3%, #CF1512 100%);
	color: #000;

	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.heading{
	border: double 3px black;
	text-align: center;
	border-radius: 1rem;
	background-color: black;
	color: #f012be;
	
}

.upload-file{
	width: 300px;
	margin: 1rem auto 1rem;
	text-align: center;
	position: relative;
	padding: 15px;
	font-size: 22px;
	color: #fff;
	background-color: #000;
	border-radius: 25px;
}
.upload-file input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
}
#showImg{
	display: block;
	margin: 0 auto;
	max-width: 400px;
	border-radius: 25px;
}
button{
	width: 300px;
	margin: 30px auto ;
	text-align: center;
	position: relative;
	padding: 15px;
	font-size: 22px;
	color: #fff;
	background-color: #000;
	border-radius: 25px;
	display: block;
}